{% extends "layout.html" %}
{% block content %}

<h1>Add Well Map</h1>

<a href="{{url_for('ReturnWellMapTemplate')}}">
    <div class='container'>
        <h3>Download Well Map Template</h3>
    </div>
</a>

<div class='container'>
    <ol>
        <li>Download the template from the link above and open in a spreadsheet editor.</li>
        <li>Designate master mix destinations by color. In the image below, liquid will be transferred from master mix tube A1 into all wells in row A of the 96-well plate.</li>
        <img src='/static/colormatchimage.png'>
        <li>Designate cDNA sample destinations by name. In the image below, liquid will be transferred from the cDNA sample 8-tube strip into cells 1-3 of the first four columns of the 96-well plate.</li>
        <img src='/static/valuematchimage.png'>
        <li>Save and upload spreadsheet below.</li>
    </ol>
</div>

<div class='container'>
    <form action = {{"http://localhost:5000/wellmapuploader/{}".format(filename)}} method = "POST" enctype = "multipart/form-data">
        <input type='file' name='file' />
        <input type='submit'/>
    </form>
</div>

{% endblock content %}