{% extends "layout.html" %}
{% block content %}

<div class="jumbotron mt-5">
    <h1 class="display-3">Opentrons Helper</h1>
    <p class="lead">Opentrons Companion Application for Protocol Script Organization and Modification</p>
    <hr class="my-4">
    <p>If you just started up the OT-2 or the Opentrons app, click the button below for a connection guide. Otherwise, select an option below.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" role="button">Connection Guide</a>
    </p>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connect to the OT2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>First, make sure that the OT-2 is powered on and connected to the power supply and computer. The blue light should be solid.</p>
                <p>Open the Opentrons app and select the "robot" tab in the top left.</p>
                <p>Refresh the list until the OT-2's name shows up. Toggle the switch next to the name to establish a connection.</p>
                <img src='/static/connect.png' style="max-width:80%; max-height:60%;" class="mb-4 ml-4">
                <p>Now, you should be able to run protocol scripts, install pipettes, and upload custom labware definitions.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-4">
        <a href="{{url_for('ProtocolScripts')}}">
            <div class="card border-primary mb-3" style="max-height: 10rem; min-height: 10rem; color:#3e3f3a;">
                <div class="card-header">Add, modify, and run protocol scripts.</div>
                <div class="card-body">
                  <h2 class="card-title">Protocol Scripts</h2>
                  <p class="card-text"></p>
                </div>
            </div> 
        </a>
    </div>
    <div class="col-sm-4">
        <a href="{{url_for('ManageWellMaps')}}">
            <div class="card border-primary mb-3" style="max-height: 10rem; min-height: 10rem; color:#3e3f3a;">
                <div class="card-header">Add and delete well maps.</div>
                <div class="card-body">
                  <h2 class="card-title">Manage Well Maps</h2>
                  <p class="card-text"></p>
                </div>
            </div> 
        </a>
    </div>
    <div class="col-sm-4">
        <a href="{{url_for('History')}}">
            <div class="card border-primary mb-3" style="max-height: 10rem; min-height: 10rem; color:#3e3f3a;">
                <div class="card-header">View history and repeat protocol runs.</div>
                <div class="card-body">
                  <h2 class="card-title">History</h2>
                  <p class="card-text"></p>
                </div>
            </div> 
        </a>
    </div>
</div>
{% endblock content %}