{% extends "layout.html" %}
{% block content %}
<h1>Modify {{protocol}}</h1>

<form id="form" method="post" action="">
    <!-- what is form-group about below?  -->
    <div class='form-group container'> 
        {{ form.hidden_tag() }}
        {% for modField in modFieldList %}
            <div class='row mt-3'>
                <div class='col-3 text-left'>
                    <h5>{{ modField.field.capitalize() }}: </h5>
                </div>
                <div class='col-3 mt-n3'>
                    <p>{{ form.fields[loop.index0] }}</p>
                </div>
                <!-- <div class='col-6'>
                    <p>{{ modField.description }}</p>
                </div> -->
            </div>
        {% endfor %}
    </div>
</form>

<div class="container text-right">
    <button type="submit" form="form" class="text-primary bg-transparent border-0">
        <h3>Continue</h3>
    </a>
</div>


{% endblock content %}