{% extends "layout.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col">
        <h1>Modify {{protocol}}</h1>
    </div>
    <div class="col-4 justify-content-end d-flex">
        <button class="btn btn-lg btn-primary" type="submit" form="form" data-toggle="modal" data-target="#exampleModal">Continue</button>
    </div>
</div>

<form id="form" method="post" action="" class="mt-4">
    <!-- what is form-group about below?  -->
    <div class='form-group container'> 
        {{ form.hidden_tag() }}
        <div class="row mt-4">
            {% for modField in modFieldList %}
            <div class="col-sm-4 justify-content-start">
                <div class="card border-success mb-3 d-flex" style="max-height: 10rem; min-height: 10rem; min-width: 15rem;">
                    <div class="card-header">{{modField.field.capitalize()}}</div>
                    <div class="card-body">
                    <h4 class="card-title">{{form.fields[loop.index0]}}</h4>
                    <p class="card-text">{{modField.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <img src="/static/loading.gif" style="width: 60px;" class="center pt-5">
    </div>
</div>

{% endblock content %}