{% extends "layout.html" %}
{% block content %}
<h1>Protocol Scripts</h1>

{% if protocolList == [] %}
    <p>No protocol files found, please add to {{directory}}\ProtocolFiles</p>
{% endif %}

<a href="{{url_for('AddProtocol')}}">
    <div class='container'>
        <h3>Add Protocol</h3>
    </div>
</a>

{% for protocol in protocolList %}
    <a href="{{url_for('Protocol', filename=protocol)}}">
        <div class='container'>
            <h3>{{protocol}}</h3>
        </div>
    </a>
{% endfor %}

{% endblock content %}