{% extends "layout.html" %}
{% block content %}


<div class="row mt-4">
    <div class="col-12">
        <h1>{{protocol}}</h1>
    </div>
</div>


<h2 class="mt-4">Metadata</h2>
<div class="row mt-4">
    {% for metadata in metadataList %}
    <div class="col-4 justify-content-start">
        <div class="card border-success mb-3 " style="max-height: 10rem; min-height: 10rem">
            <div class="card-header">{{metadata.field.capitalize()}}</div>
            <div class="card-body">
            <h4 class="card-title">{{metadata.value}}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if modFieldList != [] %}
    <h2 class="mt-4">Modifiable Fields</h2>
    <div class="row mt-4">
        {% for modField in modFieldList %}
        <div class="col-4 justify-content-start">
            <div class="card border-danger mb-3 " style="max-height: 10rem; min-height: 10rem">
                <div class="card-header">{{modField.field}}</div>
                <div class="card-body">
                <h4 class="card-title">{{modField.value}}</h4>
                <p class="card-text">{{modField.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

<h2 class="mt-4">Pipettes</h2>
<div class="row mt-4">
    {% for pipette in pipetteList %}
    <div class="col-4 justify-content-start">
        <div class="card border-warning mb-3 " style="max-height: 10rem; min-height: 10rem">
            <div class="card-header">{{pipette.location.capitalize()}} Pipette Mount</div>
            <div class="card-body">
            <h4 class="card-title">{{pipette.item}}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="mt-4">Labware</h2>
<div class="row mt-4">
    {% for labware in labwareList %}
    <div class="col-4 justify-content-start">
        <div class="card border-info mb-3 " style="max-height: 10rem; min-height: 10rem">
            <div class="card-header">Deck {{labware.location.capitalize()}}</div>
            <div class="card-body">
            <h4 class="card-title">{{labware.item}}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if wellMapEnabled %}
    <a href="{{url_for('WellMapSelect', filename=protocol)}}">
        <div class='container text-right'>
            <h3>Continue</h3>
        </div>
    </a>
{% elif modFieldList != [] %}
    <a href="{{url_for('Modify', filename=protocol)}}">
        <div class='container text-right'>
            <h3>Continue</h3>
        </div>
    </a>
{% else %}
    <a href="{{url_for('Confirm', filename=protocol)}}">
        <div class='container text-right'>
            <h3>Continue</h3>
        </div>
    </a>
{% endif %}

<a href="{{url_for('DeleteProtocolConfirm', filename=protocol)}}">
    <div class='container text-right' style="color:red;">
        <h3>Delete Protocol</h3>
    </div>
</a>

{% endblock content %}