{% extends "layout.html" %}
{% block content %}


<div class="row mt-4">
    <div class="col-12">
        <h1>Select a Protocol Script</h1>
    </div>
</div>

{% if protocolList == [] %}
    <p>No protocol files found, please add to {{directory}}\ProtocolFiles</p>
{% endif %}

<div class="row mt-4">
    <div class="col-sm-4">
        <a href="{{url_for('AddProtocol')}}">
            <div class="card text-white border-primary mb-3" style="max-height: 10rem; min-height: 10rem; background-color: #325d88;">
                <div class="card-header">Add Protocol Script</div>
                <div class="card-body">
                <h4 class="card-title text-center flex-child" style="font-size: 60px;">+</h4>
                </div>
            </div>
        </a>
    </div>
    {% for protocol in protocolList %}
        <div class="col-sm-4 justify-content-start">
            <a href="{{url_for('Protocol', filename=protocol.name)}}">
                <div class="card border-primary mb-3" style="max-height: 10rem; min-height: 10rem; color:#3e3f3a;">
                    <div class="card-header">{{protocol.time}}</div>
                    <div class="card-body">
                    <h4 class="card-title">{{protocol.name}}</h4>
                    <p class="card-text">{{protocol.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock content %}